<html>
    <head>

    </head>
    <body>
        <form action="/sum" method="GET">
            <input type="text" name="valuea" placeholder="Enter value a">
            <br>
            <input type="text" name="valueb" placeholder="Enter value b">
            <br>
            <button>SEND!</button>
        </form>
    </body>
    <style>
        button {
            background-color: #04AA6D; /* Green */
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 50%;
        }
    </style>
</html>